<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <h2><span class="glyphicon glyphicon-user"></span> User Management</h2>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>

<hr>

  <h2><span class="glyphicon glyphicon-th-list"></span> Database Management</h2>
    <div class="well">
      TBD
    </div>
<hr>
</div>


