<div ng-include="'components/navbar/navbar.html'"></div>

<!-- form.html -->
<div class="row" ng-app="angularMultiStepFormApp">
<div class="col-sm-8 col-sm-offset-2">
<div class="container">
    <div id="form-container">

        <div class="page-header text-center">
            <h2>Question-Option-Answer</h2>
            <div id="status-buttons" class="text-center">
                <div ng-if="$state.current.name == 'main.A'">
                    <a ui-sref="main.B" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span>Prev</a>
                    <a class="active"><span class="glyphicon glyphicon-pencil"></span>Current</a>
                    <a ui-sref="main.B" ng-click="next(formData.type)"><span class="glyphicon glyphicon-chevron-right"></span>Next</a>
                </div>
                <div ng-if="$state.current.name == 'main.B'">
                    <a ui-sref="main.A" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span>Prev</a>
                    <a class="active"><span class="glyphicon glyphicon-pencil"></span>Current</a>
                    <a ui-sref="main.A" ng-click="next(formData.type)"><span class="glyphicon glyphicon-chevron-right"></span>Next</a>
                </div>
            </div>
        </div>

        <div loadbar class="text-center">
            <h2>Loading...Please Wait</h2>
        </div>

        <form id="signup-form" ng-submit="processForm()" class="ng-valid ng-dirty">
            <div ng-show="chooseDb" id="form-views" ui-view class="ng-scope" style></div>

            <div ng-show="!chooseDb">
                <strong>Please select the question database</strong>
                <li ng-repeat="item in questionTree">
                    <span>{{item.name}}</span>
                    <a ng-click="selectDb(item.text)"><span class="glyphicon glyphicon-list-alt" style="float: right"></span></a>
                    <br>
                </li>
            </div>
        </form>

        <div class="page-bottom text-center">
            <span class="glyphicon glyphicon-pushpin"></span> {{db.tip}}
        </div>
    </div>


<!--<pre>
        {{ formData }}
    </pre> -->
</div>
</div>
</div>
