<!-- form.html -->
<div class="row" ng-app="angularMsfApp">
<div class="col-sm-8 col-sm-offset-2">

    <div id="form-container">

        <div class="page-header text-center">
            <h2>Question-Option-Answer</h2>

            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active"><span class="glyphicon glyphicon-chevron-left"></span>Prev</a>
                <a ui-sref-active="active" ui-sref=".current"><span class="glyphicon glyphicon-pencil"></span>Current</a>
                <a ui-sref-active="active"><span class="glyphicon glyphicon-chevron-right"></span>Next</a>
            </div>

        </div>

        <div loadbar class="text-center">
            <h2>Loading...Please Wait</h2>
        </div>

        <form id="signup-form" ng-submit="processForm()" class="ng-valid ng-dirty">
            <div id="form-views" ui-view class="ng-scope" style></div>
        </form>

        <div class="page-bottom text-center">
            TIPS
        </div>
    </div>



    <pre>
        {{ formData }}
    </pre>



</div>
</div>
