<!-- form.html -->
<div class="row">
<div class="col-sm-8 col-sm-offset-2">

    <div id="form-container">

        <div class="page-header text-center">
            <h2>Let's Be Friends</h2>

            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".profile"><span>1</span> Profile</a>
                <a ui-sref-active="active" ui-sref=".interests"><span>2</span> Interests</a>
                <a ui-sref-active="active" ui-sref=".payment"><span>3</span> Payment</a>
            </div>
        </div>

        <form id="signup-form" ng-submit="processForm()" class="ng-valid ng-dirty">
            <div id="form-views" ui-view class="ng-scope" style></div>
        </form>

    </div>

    <pre>
        {{ formData }}
    </pre>



</div>
</div>
